SECRET=ASD#3dad@#FA#RAffdfd3

DB_URL=mongodb://localhost/nest-test

NODE_ENV=dev
FACEBOOK_GRAPH_API_VERSION=2.11

FACEBOOK_ID=602654273245591
FACEBOOK_SECRET=1d859528f455b370477e7f9707fabebf

VERBOSE=TRUE